/config/google-chrome/
/config/menus/
/config/Mendeley Ltd./
/config/dconf/
/config/nautilus/
/config/quassel-irc.org/
/config/update-notifier/
/config/user-dirs.dirs
/config/user-dirs.locale
/config/Skype/
/config/Trolltech.conf
/config/ros.org/
/config/eog/
/config/gnome-control-center/
/config/transmission/
/config/software-center/
/config/teamviewer10/
/config/totem/
/config/vlc/
/config/libreoffice/
/config/autostart/
/config/google-googletalkplugin/
/config/monitors.xml
/config/compiz-1/
/bin/idea-dir/
/config/gedit/
/config/evince/
/config/inkscape/
/bin/irony-server
/bin/clion-dir/
/config/brasero
/config/gtk-2.0/
/config/gtk-3.0/
/config/ibus/
/config/libaccounts-glib/
/config/pulse/
/config/unity/
/config/VirtualBox/
/config/Popcorn-Time/
/config/spotify/
/config/thefuck/
/config/guvcview/
/config/ipython/
/venvs/*