# Python Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# stuff
*~
/dots/ssh/*

# config files
/dots/config/google-chrome/
/dots/config/menus/
/dots/config/Mendeley Ltd./
/dots/config/dconf/
/dots/config/nautilus/
/dots/config/quassel-irc.org/
/dots/config/update-notifier/
/dots/config/user-dirs.dirs
/dots/config/user-dirs.locale
/dots/config/Skype/
/dots/config/Trolltech.conf
/dots/config/ros.org/
/dots/config/eog/
/dots/config/gnome-control-center/
/dots/config/transmission/
/dots/config/software-center/
/dots/config/teamviewer10/
/dots/config/totem/
/dots/config/vlc/
/dots/config/libreoffice/
/dots/config/autostart/
/dots/config/google-googletalkplugin/
/dots/config/monitors.xml
/dots/config/compiz-1/
/dots/bin/idea-dir/
/dots/config/gedit/
/dots/config/evince/
/dots/config/inkscape/
/dots/bin/irony-server
/dots/bin/clion-dir/
/dots/config/brasero
/dots/config/ibus/
/dots/config/libaccounts-glib/
/dots/config/pulse/
/dots/config/unity/
/dots/config/VirtualBox/
/dots/config/Popcorn-Time/
/dots/config/spotify/
/dots/config/thefuck/
/dots/config/guvcview/
/dots/config/ipython/
/dots/config/unity-tweak-tool
/dots/fonts/adobe-fonts/source-code-pro/
/dots/config/chromium/
/dots/config/ranger/
/dots/config/RescueTime.com/
/dots/bin/ffmpeg
/dots/bin/ffprobe
/dots/bin/ffserver
/dots/bin/x264
/dots/config/QtProject.conf
/dots/config/enchant/
/ansible/ubuntu.retry
/dots/config/UDP Software/Dwarf Therapist.ini
/dots/config/nitrogen/
/dots/config/mopidy/secret.conf
/dots/config/Franz/
/dots/config/fish/
/dots/config/omf/
/dots/local/
/dots/config/pavucontrol.ini
/dots/config/SpeedCrunch/
/dots/config/xfce4/
/dots/config/transmission-daemon/
/dots/config/opera-beta/
/dots/config/Unknown Organization/zoom.conf
/dots/config/zoomus.conf
/dots/config/obs-studio/
/dots/ncmpcpp/error.log
/dots/ncmpcpp/artists/
/dots/weechat/sec.conf
/dots/weechat/weechat.log
/dots/weechat/urlserver_list.txt
/dots/weechat/script/
/dots/weechat/python/
/dots/weechat/ruby/
/dots/weechat/lua/
/dots/weechat/perl/
/dots/weechat/logs/
