# private
private/
/dots/ssh/*

# temp files
*.swp

# config files
/dots/fonts/adobe-fonts/source-code-pro/
/dots/ncmpcpp/error.log
/dots/ncmpcpp/artists/
/dots/weechat/sec.conf
/dots/weechat/weechat.log
/dots/weechat/urlserver_list.txt
/dots/weechat/script/
/dots/weechat/python/
/dots/weechat/ruby/
/dots/weechat/lua/
/dots/weechat/perl/
/dots/weechat/logs/
/dots/urxvt/ext/

/ergodox/ergodox_ez.hex
/ergodox/teensy_loader_cli/

/dots/bin/nethack
*.pyc

/dots/zsh/local.zsh
/dots/bash/local.bash

# I can't seem to disable this :(
/dots/zsh/.zcompdump
/dots/zsh/.zsh_sessions/
/ansible/roles/elliotweiser.osx-command-line-tools/
/dots/zsh/.zsh_history
*.zwc
/dots/zsh/.zcompcache/

# Emacs
/dots/doom.d/custom.el
/dots/doom.d/lisp/
## Tangled output from literate config
/dots/doom.d/init.el
/dots/doom.d/config.el
/dots/doom.d/config.sh
/dots/doom.d/packages.el

# Fish
# This one is controlled by fisher
/dots/fish/conf.d/
# fisher plugins
/dots/fish/functions/_tide*.fish
/dots/fish/functions/tide/
/dots/fish/functions/tide.fish
/dots/fish/completions/tide.fish
/dots/fish/functions/fish_prompt.fish
/dots/fish/functions/fish_mode_prompt.fish
/dots/fish/functions/_puffer_fish_expand_lastarg.fish
/dots/fish/functions/_puffer_fish_expand_bang.fish
/dots/fish/functions/_puffer_fish_expand_dots.fish

# Karabiner
/dots/macos/karabiner/automatic_backups/*.json
